<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Online Scrum poker for remote software development teams."/>
    <meta name="keywords" content="scrum,kanban,agile,poker,estimation,planning,remote,software,development"/>
    <title>scrumpo.kr</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="https://fonts.googleapis.com/css?family=Signika:700|Source+Sans+Pro" rel="stylesheet">
  </head>
  <body>
    <header class="site-header container">
      <h1><a href="/">scrumpo.kr</a></h1>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="footer">
      <section class="container">
        <p>
          Built with <a target="_blank" href="https://github.com/phoenixframework/phoenix_live_view">Phoenix LiveView</a>
          and ♥ by <a target="_blank" href="http://patrickoscity.de">Patrick Oscity</a>.
        </p>
      </section>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
